@use '../abstracts/colors' as *;
@use '../base/typography' as *;

.client-card {

    position: relative;
    display: flex;
    flex-direction: column;

    > * + * {
        margin-top: 1.25rem;
    }

    h2 { margin-block-end: .75em; }

    h2 span { font-weight:$fw-400 }

    a {
        text-decoration: none;
    }
   
    a::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        cursor: pointer;
        border: solid 2px transparent;
        transition: box-shadow 200ms;
    }

    a:hover::before , 
    a:focus::before {
        box-shadow: 10px 15px 20px 5px hsla(92, 20%, 25%, 0.65);
    }

    .image {
        height: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .text {
        padding: 0 1rem 1.5rem;
    }

    

    
}