@use '../abstracts/colors' as *;
@use '../base/typography' as *;

footer {
    background-color: $clr-dark-grey;
    display: grid;
    place-content: center;
    padding: 5rem 1rem;
    margin-block-start: 10em;
    color: $clr-white;
    // position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}