@use '../abstracts/colors' as *;
@use '../base/typography' as *;

// typography
body {
  background-color: $clr-light-peach;
  font-family: $ff-body;
  font-weight: 500;
  color: $clr-dark-grey;
  height: 100%;
  // position: relative;
}

h1 {
  font-size: $fs-1000;
  font-weight: $fw-700;
}

h2 {
  font-size: $fs-700;
  font-weight: $fw-700;
}

a {
  color: $clr-dark-grey;
  font-weight: 400;
  text-decoration: 0px underline transparent;
  text-underline-offset: .250rem;
  transition: text-decoration 300ms ease;


  &:hover, 
  &.active {
    text-decoration: 2px underline $clr-dark-grey;
  }

  &.active {
    font-weight: 700;
  }

  &:focus-visible {
    outline: solid 2px $clr-dark-grey;
  }
}

// tags
.tags {
  display: flex;
  gap: 1rem;
}

.tag {
  padding: .25em .75em;
  color: $clr-white;
  border-radius: 10px;
}

.tag a {
  text-decoration: none;
}

li.tag:has(a) {
  color: $clr-green;
  background-color: $clr-peach;
  // border: solid $clr-green 2px; 
}

li.tag:has(a):hover:not(li.tag.clear) {
  background-color: $clr-dark-peach;
}

.tag.style { background-color: $clr-green;}
.tag.haircut { background-color: $clr-dark-grey;}
.tag.color, .tag.color a { background-color: $clr-dark-peach; color: $clr-green;}
.tag.makeup { background-color: $clr-mauve; }
.tag.clear { background-color: transparent; text-decoration: underline;} 
  

// buttons
.button {
  background-color: $clr-green;
  padding: 1em 1.75em;
  color: $clr-white;
  font-weight: $fw-700;
  border-radius: 10px;
  border: solid 2px $clr-green;
  text-decoration: none;
  transition: color, background-color 500ms ease;

  &:hover, 
  &:active {
    text-decoration: none;
    color: $clr-green;
    border: solid 2px $clr-green;
    background-color: $clr-dark-peach;
    transition: color, background-color 500ms ease;
  }
}

