@use '../abstracts/colors' as *;
@use '../base/typography' as *;

body {
  background-color: $clr-light-peach;
  font-family: $ff-body;
  font-weight: 500;
  color: $clr-dark-grey;
}

h1 {
  font-size: $fs-1000;
  font-weight: $fw-700;
}

h2 {
  font-size: $fs-700;
  font-weight: $fw-700;
}

a {
  color: $clr-dark-grey;
  font-weight: 400;
  text-decoration: 0px underline transparent;
  text-underline-offset: .250rem;
  transition: text-decoration 300ms ease;


  &:hover, 
  &.active {
    text-decoration: 2px underline $clr-dark-grey;
  }

  &.active {
    font-weight: 700;
  }

  &:focus-within {
    outline: solid 2px $clr-dark-grey;
  }
}

// buttons




